{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share your favorite skins</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="Global">
        <div class="Container">
            <div class="Data">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div class="Sub">
                        <input type="submit" value="Submit" class="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>